.sec1,
.sec2 {
    margin: 70px 0px;
    margin-left: 150px;
}

.mainDiv {
    display: flex;
    align-items: center;
}

.mainDiv img {
    margin-top: 50px;
}

.div1 {
    width: 700px;
    margin-right: 100px;
}

.div1 img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin-bottom: 10px;
}

.div2 img {
    margin-top: -15px;
    margin-right: 10px;
}

.div2 p {
    margin-right: 10px;
}

.div2 {
    align-items: center;
}