main {
    display: flex !important;
    justify-content: center;
    margin: 150px 0px;
    margin-bottom: 300px;
}

main form {
    display: flex;
    flex-direction: column;
    width: 450px;
}

main h1 {
    text-align: center;
}

form input {
    padding: 4px;
    border: #e6e6e6 1px solid;
    border-radius: 3px;
    margin-bottom: 10px;
}


form button {
    margin: 30px 0px;
    border: none;
    background-color: #DB4444;
    color: #fff;
    padding: 13px 37px;
    border-radius: 5px;
}