main {
    display: flex !important;
    justify-content: center;
}

form img {
    width: 50px;
    height: 50px;
}

.contanierDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 571px;
    height: 673px;
}

.contanierDiv input,
textarea {
    width: 500px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
}

textarea {
    padding: 5px;
}

.contanierDiv input {
    padding: 4px;
    border: #e6e6e6 1px solid;
    margin-bottom: 15px;
}